USE [master]
GO
/****** Object:  Database [DBDay1]    Script Date: 22-01-2026 15:40:30 ******/
CREATE DATABASE [DBDay1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBDay1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DBDay1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBDay1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DBDay1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBDay1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBDay1]
GO
/****** Object:  Table [dbo].[backupf]    Script Date: 22-01-2026 15:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[backupf](
	[CustomerId] [int] NOT NULL,
	[FullName] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Customers]    Script Date: 22-01-2026 15:40:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Customers](
	[CustomerId] [int] NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Segment] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Departments]    Script Date: 22-01-2026 15:40:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Departments](
	[DepartmentId] [int] NULL,
	[DepartmentName] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Orders]    Script Date: 22-01-2026 15:40:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Orders](
	[OrderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[PaymentMode] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[backupf] ([CustomerId], [FullName]) VALUES (101, N'Gopi Suresh')
INSERT [dbo].[backupf] ([CustomerId], [FullName]) VALUES (102, N'Anita Ravi')
INSERT [dbo].[backupf] ([CustomerId], [FullName]) VALUES (103, N'Karthik Mohan')
GO
INSERT [dbo].[tbl_Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (101, N'Indra', N'Coimbatore', N'Retail', 1, CAST(N'2025-11-12' AS Date))
INSERT [dbo].[tbl_Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (102, N'Anita Ravi', N'Chennai', N'Corporate', 1, CAST(N'2025-10-05' AS Date))
INSERT [dbo].[tbl_Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (103, N'Karthik Mohan', N'Bengaluru', N'Retail', 1, CAST(N'2025-09-15' AS Date))
GO
INSERT [dbo].[tbl_Departments] ([DepartmentId], [DepartmentName]) VALUES (1, N'CSE')
INSERT [dbo].[tbl_Departments] ([DepartmentId], [DepartmentName]) VALUES (2, N'ECE')
INSERT [dbo].[tbl_Departments] ([DepartmentId], [DepartmentName]) VALUES (555, N'Help')
GO
INSERT [dbo].[tbl_Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5001, 101, CAST(N'2026-01-10' AS Date), CAST(1200.00 AS Decimal(10, 2)), N'Delivered', N'UPI')
INSERT [dbo].[tbl_Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5002, 101, CAST(N'2026-01-15' AS Date), CAST(850.00 AS Decimal(10, 2)), N'Pending', N'Card')
INSERT [dbo].[tbl_Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5003, 102, CAST(N'2026-01-05' AS Date), CAST(5000.00 AS Decimal(10, 2)), N'Delivered', N'Card')
GO
ALTER TABLE [dbo].[tbl_Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[tbl_Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[tbl_Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
/****** Object:  StoredProcedure [dbo].[MyPractice]    Script Date: 22-01-2026 15:40:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MyPractice]
--Optional or Parameters
@City VARCHAR(50)
AS
BEGIN

SELECT * FROM tbl_Customers WHERE City=@City
END

GO
/****** Object:  StoredProcedure [dbo].[SP_CustomerInfo]    Script Date: 22-01-2026 15:40:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CustomerInfo]
@Name VARCHAR(50), @City VARCHAR(50)
AS
BEGIN
SELECT * FROM tbl_Customers WHERE FullName=@Name AND City=@City
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTION]    Script Date: 22-01-2026 15:40:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTION]
AS
BEGIN

INSERT INTO tbl_Departments(DepartmentId,DepartmentName) VALUES (1,'CSE'),(2,'ECE'),(3,'MECH')

END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATION]    Script Date: 22-01-2026 15:40:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATION]
@Customerid INT,@CustomerName VARCHAR(100)
AS
BEGIN
UPDATE tbl_Customers
SET FullName=@CustomerName
WHERE(CustomerId=@Customerid)

END
GO
USE [master]
GO
