USE [master]
GO
/****** Object:  Database [DBDay1]    Script Date: 21-01-2026 18:48:41 ******/
CREATE DATABASE [DBDay1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBDay1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DBDay1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBDay1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DBDay1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBDay1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBDay1]
GO
/****** Object:  Table [dbo].[backupf]    Script Date: 21-01-2026 18:48:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[backupf](
	[CustomerId] [int] NOT NULL,
	[FullName] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Customers]    Script Date: 21-01-2026 18:48:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Customers](
	[CustomerId] [int] NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Segment] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Orders]    Script Date: 21-01-2026 18:48:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Orders](
	[OrderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[PaymentMode] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[backupf] ([CustomerId], [FullName]) VALUES (101, N'Gopi Suresh')
INSERT [dbo].[backupf] ([CustomerId], [FullName]) VALUES (102, N'Anita Ravi')
INSERT [dbo].[backupf] ([CustomerId], [FullName]) VALUES (103, N'Karthik Mohan')
GO
INSERT [dbo].[tbl_Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (101, N'Gopi Suresh', N'Coimbatore', N'Retail', 1, CAST(N'2025-11-12' AS Date))
INSERT [dbo].[tbl_Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (102, N'Anita Ravi', N'Chennai', N'Corporate', 1, CAST(N'2025-10-05' AS Date))
INSERT [dbo].[tbl_Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (103, N'Karthik Mohan', N'Bengaluru', N'Retail', 1, CAST(N'2025-09-15' AS Date))
GO
INSERT [dbo].[tbl_Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5001, 101, CAST(N'2026-01-10' AS Date), CAST(1200.00 AS Decimal(10, 2)), N'Delivered', N'UPI')
INSERT [dbo].[tbl_Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5002, 101, CAST(N'2026-01-15' AS Date), CAST(850.00 AS Decimal(10, 2)), N'Pending', N'Card')
INSERT [dbo].[tbl_Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5003, 102, CAST(N'2026-01-05' AS Date), CAST(5000.00 AS Decimal(10, 2)), N'Delivered', N'Card')
GO
ALTER TABLE [dbo].[tbl_Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[tbl_Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[tbl_Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
USE [master]
GO


--the Queries that i have done during the class hours

/* ================================
   TABLE: tbl_Customers
   Purpose: Stores customer details
   ================================ */
CREATE TABLE tbl_Customers
(
    CustomerId   INT PRIMARY KEY,          -- Unique identifier for each customer
    FullName     VARCHAR(100) NOT NULL,    -- Customer full name
    City         VARCHAR(50)  NOT NULL,    -- City where customer lives
    Segment      VARCHAR(20)  NOT NULL,    -- Customer segment: Retail / Corporate
    IsActive     BIT          NOT NULL,    -- 1 = Active, 0 = Inactive
    CreatedOn    DATE         NOT NULL     -- Date when customer was created
);

/* ================================
   TABLE: tbl_Orders
   Purpose: Stores order details
   ================================ */
CREATE TABLE tbl_Orders
(
    OrderId      INT PRIMARY KEY,           -- Unique order ID
    CustomerId   INT NOT NULL,               -- Customer who placed the order
    OrderDate    DATE NOT NULL,              -- Date of the order
    Amount       DECIMAL(10,2) NOT NULL,     -- Order amount
    Status       VARCHAR(20) NOT NULL,       -- Delivered / Cancelled / Pending
    PaymentMode  VARCHAR(20) NOT NULL,       -- UPI / Card / Cash
    CONSTRAINT FK_Orders_Customers
        FOREIGN KEY (CustomerId)             -- Foreign key constraint
        REFERENCES dbo.Customers(CustomerId) -- References Customers table
);

/* ================================
   INSERT DATA INTO tbl_Customers
   ================================ */
INSERT INTO tbl_Customers
(
    CustomerId,
    FullName,
    City,
    Segment,
    IsActive,
    CreatedOn
)
VALUES
(101, 'Gopi Suresh',   'Coimbatore', 'Retail',    1, '2025-11-12'),
(102, 'Anita Ravi',    'Chennai',    'Corporate', 1, '2025-10-05'),
(103, 'Karthik Mohan', 'Bengaluru',  'Retail',    1, '2025-09-15'),
(104, 'Meena Kumar',   'Chennai',    'Retail',    0, '2024-12-20'),
(105, 'Suresh Babu',   'Hyderabad',  'Corporate', 1, '2025-01-10');

/* ================================
   INSERT DATA INTO tbl_Orders
   ================================ */
INSERT INTO tbl_Orders
(
    OrderId,
    CustomerId,
    OrderDate,
    Amount,
    Status,
    PaymentMode
)
VALUES
(5001, 101, '2026-01-10', 1200.00, 'Delivered', 'UPI'),
(5002, 101, '2026-01-15',  850.00, 'Pending',   'Card'),
(5003, 102, '2026-01-05', 5000.00, 'Delivered', 'Card'),
(5004, 103, '2025-12-30',  300.00, 'Cancelled', 'Cash'),
(5005, 105, '2026-01-18', 2500.00, 'Delivered', 'UPI'),
(5006, 102, '2026-01-20', 1500.00, 'Pending',   'UPI');

/* ================================
   SELECT QUERIES
   ================================ */

-- Select CustomerId and FullName with column aliases
SELECT 
    CustomerId AS empid,        -- Renaming CustomerId
    FullName AS staffname       -- Renaming FullName
FROM tbl_Customers;

-- Same query using table alias
SELECT 
    CustomerId AS empid,
    FullName AS stafffirstname
FROM tbl_Customers t;

-- Create a backup table with selected columns
SELECT 
    CustomerId,
    FullName
INTO backup                     -- Creates a new table named backup
FROM tbl_Customers;

-- Convert customer data to JSON format
SELECT * 
FROM tbl_Customers
FOR JSON AUTO;

-- Convert customer data to XML format
SELECT * 
FROM tbl_Customers
FOR XML AUTO;

-- Add a constant column value to all rows
SELECT 
    'Valid Records' AS Mycol,   -- Constant value column
    *
FROM tbl_Customers;

-- Filter customers from Coimbatore AND Corporate segment
SELECT * 
FROM tbl_Customers
WHERE City = 'Coimbatore'
  AND Segment = 'Corporate';

-- Filter customers from Chennai OR Retail segment
SELECT * 
FROM tbl_Customers
WHERE City = 'Chennai'
   OR Segment = 'Retail';

-- Filter customers belonging to specific cities
SELECT * 
FROM tbl_Customers
WHERE City IN ('Chennai', 'Hyderabad');

-- Select orders with amount between 500 and 900
SELECT * 
FROM tbl_Orders
WHERE Amount BETWEEN 500 AND 900;

-- Search customers whose name contains 'Gopi'
SELECT * 
FROM tbl_Customers
WHERE FullName LIKE '%Gopi%';

-- Display orders sorted by amount in ascending order
SELECT * 
FROM tbl_Orders
ORDER BY Amount ASC;
